.game-card__card-col {
  height: 170px;
  margin: 15px 0px;
}

.game-card__card {
  padding: 20px;
  height: 100%;
  position: relative;
}

.game-card__card-subtitle {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
